body{
    height: 100%;
}
.about-section{
    display: grid;
    place-items: center;
    gap: 2rem;
    text-align: center;
    margin: 4rem 0;
    padding: 0 5%;
}
.text-section{
    display: grid;
    place-items: center;
    padding: 0 35%;
    gap: 2rem;
    text-align: start;
}
h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #354259;
}
p{
    font-size: 1.2rem;
    color: #354259;
}
@media screen and (max-width: 1024px){
    .text-section{
        padding: 0 20%;
    }
}
@media screen and (max-width: 425px){
    .text-section{
        padding: 0 10%;
    }
}
@media screen and (max-width: 320px){
    .text-section{
        padding: 0 5%;
    }
}